/************************************************************************\
                           NEXT GEN COLOR SCHEME
\************************************************************************/

/* Brand */
$Brand-0: #C1D72F;
$Brand-1: #496868;
$Brand-2: #23a08c;
$Brand-3: #E86D1F;

/* Grays */
$Gray-1: #ffffff;
$Gray-2: #fcfcfa;
$Gray-3: #eae8e7;
$Gray-4: #c5c2bc;
$Gray-5: #73726f;
$Gray-6: #060606;

$white:        $Gray-1;
$lighter_grey: $Gray-2;
$light_grey:   $Gray-3;
$medium_grey:  $Gray-4;
$dark_grey:    $Gray-5;

$black:        $Gray-6;

$green:        $Brand-0;
$blue:         $Brand-1;
$teal:         $Brand-2;
$orange:       $Brand-3;