/************************************************************************\
                              NAVIGATION
\************************************************************************/
nav {
  position: relative;
  z-index: 2;

  ul {
    list-style: none;

    li {
      display: inline-block;
    }
  }

  &.nav-primary-header {
    @media screen and (min-width: $breakpoint_small+1) {
      position: absolute;
      top: 22%;
      width: 100%;
      color: $white;
      text-align: center;

      li {
        margin: 0 20px;
        font-size: 16px;
        font-family: $museo-sans;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      .nav-primary-toggle {
        display: none;
      }
    }

    @media screen and (max-width: $breakpoint_small) {
      .nav-area {
        // Gets activated by clicking nav-primary-toggle.
        display: none;
      }

      .nav-primary-toggle {
        display: block;
        position: absolute;
        font-family: $museo-sans;
        bottom: -50px;
        font-size: 17px;
        letter-spacing: 2px;
        right: 25px;

        color: $medium_grey;

        &:hover {
          cursor: pointer;
          color: $white;
        }

        .ss-rows {
          margin-left: 8px;
          font-size: 13px;
        }
      }
      ul {
        width: 100%;
      }
      li {
        display: block;
        a {
          display: block;
          padding: 20px 20px;
          border-bottom: 0;
          text-transform: uppercase;
          letter-spacing: 2px;
          &:active, &:hover {
            border-bottom: 0;
            background-color: $Gray-3;
          }
        }
      }
    }
  }

  &.nav-footer {
    li {
      margin: 0 10px;
      font-size: $minor-font-size;
    }
  }
}
