/************************************************************************\
                        RESPONSIVE BREAKPOINTS
\************************************************************************/

$breakpoint_max: 1602px;
$breakpoint_large: 1402px;
$breakpoint_large_two_column: 1370px;
$breakpoint_medium: 1050px;
$breakpoint_medium_two_column: 830px;
$breakpoint_small: 602px;

.hide-when-small {
  @media screen and (max-width: $breakpoint_small) { display: none; }
}
.hide-when-medium {
  @media screen and (max-width: $breakpoint_medium) { display: none; }
}
.hide-when-large {
  @media screen and (max-width: $breakpoint_large) { display: none; }
}
.hide-when-max {
  @media screen and (max-width: $breakpoint_max) { display: none; }
}

/************************************************************************\
                        CORE HTML STRUCTURAL TAGS
\************************************************************************/
html {
  background:  $light_grey;
  color:       $black;
  font-size:   $base-font-size;
  line-height: $base-line-height;
  font-family: $base-font-family;

  @media screen and (max-width: $breakpoint_small) {
    font-size:   $reduced-font-size;
    line-height: $reduced-line-height;
  }
}

*:first-child {
  margin-top: 0;
}

body { }

section {
  position: relative;
  background: $white;
  border-left:   1px solid $medium_grey;
  border-right:  1px solid $medium_grey;

  &.dark {
    background: $black;
    color: $light_grey;
    & h2 {
      color: $green;
    }
  }

  &.off-white {
    background: $light_grey;
  }

  &.first {
    margin-top: 60px;

    @media screen and (max-width: $breakpoint_max) {
      margin-top: 0;
    }
  }
  &.last {
    margin-bottom: 60px;
    border-bottom: 2px solid $medium_grey;

    @media screen and (max-width: $breakpoint_max) {
      margin-bottom: 0;
    }
  }
}

hr {
  height: 0;
  @include box-sizing(content-box);
}

// For ul, li, and nav styles see global/nav.scss

// Form elements are in global/forms.scss

/************************************************************************\
                          CORE STRUCTURAL CLASSES
\************************************************************************/
.page-wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
}

.absolute-centered {
  position: absolute;
  width: 100%;
  text-align: center;
}
.absolute-right {
  position: absolute;
  width: 100%;
  text-align: right;
}
.absolute-left {
  position: absolute;
  width: 100%;
  text-align: left;
}

.centered-wrap {
  width: 100%;
  text-align: center;
}

.core-content {
  margin: 0 auto;
  padding: 50px 0 60px 0; // Top has less padding b/c of type line-heights
  width: 46%;

  &.double-padded {
    padding: 100px 0 120px 0; // Less at top to account for headers' line height
  }

  &.two-column-holder {
    @media screen and (max-width: $breakpoint_large_two_column) {
      width: 60%;
    }
    @media screen and (max-width: $breakpoint_medium) {
      width: 76%;
    }
    @media screen and (max-width: $breakpoint_medium_two_column) {
      width: 56%;
    }
    @media screen and (max-width: $breakpoint_small) {
      width: 86%;
    }
  }

  @media screen and (max-width: $breakpoint_medium) {
    width: 76%;
  }
  @media screen and (max-width: $breakpoint_small) {
    width: 86%;
    padding: 30px 0 40px 0; // Top has less padding b/c of type line-heights

    &.double-padded {
      padding: 60px 0 80px 0; // Less at top to account for headers' line height
    }

    &.double-padded-reduced {
      padding: 0px 0 80px 0; // Less at top to account for headers' line height
    }
  }
}

.two-columns {
  @include clearfix();
  position: relative;

  &.extra-margin {
    margin-top: 60px;
  }

  &.some-margin {
    margin-top: 30px;
  }

  .column-left {
    float: left;
    width: 45%;
    @media screen and (max-width: $breakpoint_medium_two_column) {
      float: none;
      width: 100%;
      margin-top: 40px;
    }
  }
  .column-right {
    float: right;
    width: 45%;
    @media screen and (max-width: $breakpoint_medium_two_column) {
      float: none;
      width: 100%;
      margin-top: 40px;
    }
  }
}

.image-interlude {
  img {
    width: 100%;
  }
}

/************************************************************************\
                                MODALS
\************************************************************************/
.modal {
  display: none;
  width: 78%;
  max-width: 400px;
  background: $lighter_grey;
  padding: 15px 20px;
  border-radius: 3px;
  box-shadow: 0 0 10px $black;
  a.close-modal {
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      content: "X";
      width: 30px;
      height: 30px;
      color: $black;
    }
    border-bottom: 0px;
    position: absolute;
    top: 17px;
    right: 14px;
    overflow: show;
    display: block;
    text-indent: -9999px;
    // background: image-url('collapse.png') no-repeat 0 0;
  }

  h4 {
    margin: .2em 0 1em 0;
  }
}

.modal-spinner {
  display: none;
  width: 64px;
  height: 64px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -32px;
  margin-top: -32px;
  background: image-url('spinner.gif') #111111 no-repeat center center;
  border-radius: 8px;
}

/************************************************************************\
                              MISC STRUCTURAL
\************************************************************************/
[hidden] {
  display: none;
}
