<!-- ============================== HOOK ============================= -->
<section id="about">
  <div class="core-content">
    <q>
      Next Generation Capital Partners was formed in 2009 and originally managed by Next Generation Investments Inc ("NGI"). It is under common control and operates in conjunction with <a href="http://nxtgendevelopment.com">Next Generation Development</a> ("NGD") and various wholly owned affiliates.
    </q>
    <q>
      Since that time, with NGCP's backing and support, NGD has planned, permitted, constructed or financed over 1000 units of multifamily residential and mixed use product, both rental and for sale, with several thousand more units in the pipeline.
    </q>
  </div>
</section>