<!-- ========================== EXPERIENCE ========================== -->
<section id="experience" class="dark">
  <div class="core-content double-padded">
    <h2>Experience</h2>
    <p>
      Their joint projects have included public private partnerships and the development of pubic infrastructure, buildings and related facilities in numerous jurisdictions. Sources of capital range from conventional domestic investors or lenders to international funds and public bodies.
    </p>
    <p>
      NGCP principals have multiple decades of experience in all substantive areas relevant to the operation of its business, including marketing, construction, design, engineering, finance, accounting and legal matters.
    </p>
  </div>
</section>
