<!-- ============================ FOOTER ============================= -->
<section id="contact" class="footer-bg last dark">
  <div class="core-content double-padded">
    <a href="#" class="discrete"><%= image_tag('ngg_logo.png', class:"footer-icon") %></a>

    <p class="centered half-margin">
      <a href="https://www.google.com/maps/preview?q=975+East+22nd+Street+Wheaton,+IL+60189&amp;ie=UTF-8&amp;hq=&amp;hnear=0x880e526963fd205b:0x251c300b0e8a585e,22nd+St,+Wheaton,+IL+60189&amp;gl=us&amp;ei=nOkxUq-ROaGx2QXA-4Eg&amp;ved=0CCwQ8gEwAA" target="_blank" class="discrete">
        Next Generation Capital Partners<br>
        975 East 22nd Street<br>
        Wheaton, IL 60189<br>
      </a>
    </p>

    <h4></h4>

    <nav class="nav-footer">
      <ul>
        <li><a href="mailto:info@nxtgendev.com?subject=Next Generation Capital Partners" target="_blank" class="discrete"><span class="ss-social ss-icon ss-mail"></span> info@nxtgendev.com</a></li>
        <li><a href="tel:630.384.6440" target="_blank" class="discrete"><span class="ss-social ss-icon ss-phone"></span> 630.384.6440</a></li>
        <li><a href="tel:630.653.0194"  target="_blank" class="discrete"><span class="ss-social ss-icon ss-fax"></span> 630.653.0194</a></li>
      </ul>

    <h4 class="double-margin">Navigation</h4>

    <nav class="nav-footer">
      <ul>
        <li><a href="#about" class="discrete">About</a></li>
        <li><a href="#experience" class="discrete">Experience</a></li>
        <li><a href="#team" class="discrete">Team</a></li>
        <li><a href="#projects" class="discrete">Projects</a></li>
      </ul>
    </nav>

    <p class="centered minor double-margin">
      &copy; 2013 Next Generation Capital Partners LLC.
    </p>
  </div>
</section>
