<!-- ============================== HERO ============================= -->
<section id="hero" class="first">

  <%= partial 'partials/nav' %>

  <div class="hero-area">
    <div class="hero-logo-wrap">
      <div class="hero-logo-full-wrap absolute-centered">
        <%#= image_tag "ngg_logo.png", class: "hero-logo" %>
      </div>
      <div class="hero-logo-icon-wrap absolute-left">
        <%= image_tag "ngg_logo.png", class: "hero-icon" %>
      </div>
    </div>

    <div class="hero-text absolute-centered">
      <h1 class="hero">Next Generation<br/>Capital Partners</h1>
    </div>

    <%= image_tag "chicago.jpg", class: "hero-bg" %>
  </div>

</section>
