<div id="john_kulczewski" style="display:none;">
  <h3>John Kulczewski</h3>
  <p class="half-margin">John is the Senior Financial Executive of Next Generation Development, responsible for all financing, accounting, tax planning, HR, IT, and treasury operations.</p>
  <p class="half-margin">Prior to Next Generation, John was a founding partner and Chief Financial Officer of Wiseman-Hughes Enterprises, Inc., a large privately held land development and construction company, responsible for corporate and project financing, treasury and investment functions, financial reporting, internal audit, human resources, IT systems, taxation, forecasting &amp; budgeting, risk management, property management, strategic and estate planning.</p>
  <p class="half-margin">He began his career in public accounting specializing in audit, tax and management services. John holds a Bachelor of Science in Accounting from St. Joseph’s College, is a Licensed Illinois Certified Public Accountant and Real Estate Broker. He is a member of The Illinois CPA Society, The Illinois Association of Realtors, and is a member and director of numerous corporate civic and charitable organizations.</p>
</div>
