<div id="jim_hughes" style="display:none;">
  <h3>Jim Hughes Jr.</h3>
  <p class="half-margin">Jim is responsible for developing and maintaining relationships with municipalities, investors, banks and OREO departments at Next Generation Development, LLC. Mr. Hughes has over 30 years of real estate experience including experience in land acquisition, land planning and entitlement, development, and sales and marketing.</p>
  <p class="half-margin">Prior to Next Generation, he joined his father and began his career with Wiseman Construction Company, as a construction superintendent after attending Colorado State University. In 1983, he became Vice President of Wiseman-Hughes Enterprises overseeing Construction and Sales &amp; Marketing.</p>
  <p class="half-margin">Jim has an extensive history of overseeing the planning, development and consulting of land portfolios at Wiseman-Hughes. Possessing a prowess for the political and municipal landscape in land development, Jim has presented some of the Chicago area city managers with award-winning and best-use developments. Jim has served on the boards of Pullman Bank, and continues to serve on the Rush-Copley Board of Governors.</p>
</div>
