<!-- ============================= TEAM ============================== -->
<section id="team">
  <div class="core-content two-column-holder double-padded double-padded-reduced">
    <div class="centered-wrap"><h2>Team</h2></div>

    <div class="two-columns extra-margin">
      <div class="team-member column-left">
        <div class="person-info">
          <%= image_tag("bob.jpg",
                        alt: "Portrait of Bob",
                        class: "team-headshot professional-headshot") %>

          <div class="person-info-headers">
            <h3>Bob Fitzsimmons</h3>
            <h4>Executive Chairman</h4>
            <div class="team-social-links">
              <a href="https://www.linkedin.com/pub/robert-v-fitzsimmons/29/416/177" target="_blank" class="discrete">
                <span class="ss-social ss-icon">&#xF612;</span></a>
              <a href="mailto:rfitzsimmons@nextgenerationpublicaffairs.com?subject=Next Generation Capital Partners" target="_blank" class="discrete">
                <span class="ss-social ss-icon ss-mail"></span></a>
            </div>
          </div>
        </div>
        <p class="half-margin">Bob has over 25 years of complex transactional &amp; regulatory experience, as a strategy consultant, investor &amp; compliance advisor. In various positions during his career, Bob has gained extensive substantive experience in government relations, real estate, insurance, healthcare, energy, finance, infrastructure and various related regulatory matters. <a href="#bob_fitzsimmons" rel="modal:open">Read more.</a></p>
      </div>

      <div class="team-member column-right">
        <div class="person-info">
          <%= image_tag("jim.jpg",
                        alt: "Portrait of Jim",
                        class: "team-headshot professional-headshot") %>
          <div class="person-info-headers">
            <h3>Jim Hughes</h3>
            <h4>Chief Executive Officer</h4>
            <div class="team-social-links">
              <a href="mailto:jhughesjr@nxtgendev.com?subject=Next Generation Capital Partners" target="_blank" class="discrete">
                <span class="ss-social ss-icon ss-mail"></span></a>
            </div>
          </div>
        </div>
        <p class="half-margin">Jim is responsible for developing and maintaining relationships with municipalities, investors, banks and OREO departments at Next Generation Development, LLC. Jim has over 30 years of real estate experience including experience in land acquisition, land planning and entitlement, development, and sales and marketing. <a href="#jim_hughes" rel="modal:open">Read more.</a></p>
      </div>
    </div>


    <div class="two-columns extra-margin">
      <div class="team-member column-left">
        <div class="person-info">
          <%= image_tag("john.jpg",
                        alt: "Portrait of John",
                        class: "team-headshot professional-headshot") %>

          <div class="person-info-headers">
            <h3>John Kulczewski</h3>
            <h4>Chief Financial Officer</h4>
            <div class="team-social-links">
              <a href="www.linkedin.com/pub/john-kulczewski/25/94/73a/" target="_blank" class="discrete">
                <span class="ss-social ss-icon">&#xF612;</span></a>
              <a href="mailto:john@nxtgendev.com?subject=Next Generation Capital Partners" target="_blank" class="discrete">
                <span class="ss-social ss-icon ss-mail"></span></a>
            </div>
          </div>
        </div>
        <p class="half-margin">John is the Senior Financial Executive of Next Generation Development, responsible for all financing, accounting, tax planning, HR, IT, and treasury operations. <a href="#john_kulczewski" rel="modal:open">Read more.</a></p>
      </div>

      <div class="team-member column-right">
        <div class="person-info">
          <%= image_tag("antonio.jpg",
                        alt: "Portrait of Antonio",
                        class: "team-headshot professional-headshot") %>

          <div class="person-info-headers">
            <h3>Antonio Bismonte</h3>
            <h4>Managing Director</h4>
            <div class="team-social-links">
              <a href="www.linkedin.com/in/antoniobismonte"  target="_blank" class="discrete">
                <span class="ss-social ss-icon">&#xF612;</span></a>
              <a href="mailto:antonio@bismonte.com?subject=Next Generation Capital Partners"  target="_blank" class="discrete">
                <span class="ss-social ss-icon ss-mail"></span></a>
            </div>
          </div>
        </div>
        <p class="half-margin">Antonio works to structure transactions for all Next Generation affiliates, including Next Generation Development and Next Generation Capital Partners. <a href="#antonio_bismonte" rel="modal:open">Read more.</a></p>
      </div>
    </div>
  </div>
</section>
