<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<!-- This is modeled after HTML5 Boilerplate http://html5boilerplate.com/ -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Next Generation Capital Partners</title>
    <meta name="description" content="Next Generation Capital Partners is a Chicago-based real estate investment firm.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag "index" %>
  </head>

  <body>
    <%# Do NOT include any content HTML here. This layout file will be the
        same across all pages. %>
    <%= yield %>
  </body>

  <%= javascript_include_tag "index" %>
</html>
